<div class="container">
  <h1>PRODUCTS</h1>
</div>

<div class="container">
  <% @items.each_slice(3) do |array_of_3_items| %>
    <div class="row">
      <% array_of_3_items.each do |item| %>
      <div class="col-md-4">
        <img src="<%= item.image %>" alt="Tool image" height="181" width="150"><br>
        <%= item.name %>
      </div>
      <% end %>
    </div>
  <% end %>

  <%= will_paginate @product %>


</div>
