<h1>Contact Us</h1>
<form action="/sent" method="post">
  <input type="text" name="email" placeholder="Email"><br>
  <input type="text" name="title" placeholder="Message Subject"></br>
  <input type="text" name="message" placeholder="Type Message Here"><br>
  <input type="submit" value="Submit">
</form>
