.custom-navbar {
  position: relative;
  min-height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;

  .header-item {
    margin-right: 15px;
  }

  .site-title {
    font-size: 40px;
  }
}

.king-tools-logo {
  float: left;
  position: relative;
  top: -17px;
}

.item-category {
  color: #FFF;
}

#owl-lol .item{
  margin: 3px;
}
#owl-lol .item img{
  display: block;
  height: 100px;
  width: 100px;
}





